.product-list {
  width: 300px;
  ul {
    max-height: 415px;
    overflow-y: auto;
  }
  a {
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
  }
}


@media (max-width: 640px) {
  .product-details {
    > div {
      width: 100%;
      margin: 0 auto;
      padding: 0 20px;
    }
  }
  .hb-details {
    display: flex;
    flex-direction: column;
  }
}